@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Changa+One&family=Changa:wght@300;400;700&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@100;300;400;900&display=swap');
/*config geral*/
* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root {
    --body-color: #E4E9F7;
    --nav-color: #6100C2;
    --side-nav: #010718;
    --text-color: #fff;
    --search-bar: #f2f2f2;
    --search-text: #010718;
    --roxo-primario: #6100C2;
    --verde-primario: #00EB4E;
    --botao-header: #ffffff;
    --main-color: #6100C2;
    --text-color: #ffffff;
    --bg-color: #ffffff;
}

body {
   /* background-color: #c2f8b3;*/
    background-color: #17012e;
}

.sec-cadastrar {
    background-color: var(--roxo-primario);
    margin: 7% 24% 10% 24%;
    padding: 3rem 2rem 5rem 2rem;
    color: var(--cor-texto);
    text-align: center;
    border: 1.5vh solid var(--sombra-form);
    border-left: none;
    border-top: none;
    border-radius: 50px;
}

.itens-cadastro{
    margin-bottom: 2rem;
}


.info-cadastrar {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 15rem;
    margin-bottom: 3rem;
}

.info-cadastrar h1 {

    color: var(--verde-primario);
    font-family: 'Changa One';
    font-weight: 500;
    font-size: 30px;
}

.info-cadastrar img {
    max-width:100px;
    height:auto;
}

.itens-cadastro {
    margin-bottom: 3rem;
}

.input {
    font-family: 'Changa';
    background-color: var(--roxo-primario);
    width: 100%;
    padding: 6px;
    color: rgb(255, 255, 255);
    border: 0;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: 0;
    font-size: 14px;
}

#input-rua input {
    font-family: 'Changa';
    background-color: var(--roxo-primario);
    width: 60%;
    padding: 6px;
    color: rgb(255, 255, 255);
    border: 0;
    display: flex;
    float: left;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: 0;
    font-size: 14px;

}

#input-num {
    width: 30%;
    display: flex;
    float: left;
    padding-left: 3rem;
    text-align: center;
}

#input-cep {
    width: 30%;
}

#input-date {
    width: 45%;
}

::-webkit-input-placeholder {
    color: #e2dfdf;
    font-family: 'Changa';
    font-weight: 100;
    padding-top: 50px;
}

.cadastra-bt {
   margin-top: 6rem;
}

.botao-cadastrar {
    margin-top: 3vh;
    padding: .5rem 1rem .5rem 1rem;
    background-color: var(--verde-primario);
    border-radius: 30px;
    color: var(--roxo-primario);
    font-family: 'Changa';
    border:none;
}

a.login-bt {
    margin-top: 5vh;
    padding: .5rem 5rem .5rem 5rem;
    background-color: var(--verde-primario);
    border-radius: 30px;
    color: var(--roxo-primario);
    font-family: 'Changa';
    
}

#radio-pet{
    padding-top:.5rem;
    color: #e2dfdf;
    display: flex;
    margin-left: .3rem;
}
#radio-pet h3{
    padding-right: 2vh;
}
#radio-pet label{
    padding-right: 2vh;
    padding-left: .5vh;
    margin-top: .6rem;
    font-size: 1.8vh
}
#radio-pet input{
    width: 2vh;
}
#raca-pet{
    color: #ffffff;
    display: flex;
    margin-top: 2vh;
    margin-left: .5rem;
}
#raca-pet select{
    width: 30%;
    background-color: #e1e2e2;
    margin-left: 2vh;
}
#file-pet {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
    #file-pet input {
        display: none;
        border-radius: 1rem;
    }

#sec-arquivo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botao-arquivo {
    padding: .1rem 5rem .1rem 5rem;
    background-color: #e1e2e2;
    ;
    border-radius: 10px;
    color: var(--roxo-primario);
    font-family: 'Changa';
    cursor: pointer;
}


#imagem-arquivo img{
    width: 7rem;
}
#imagem-arquivo h3{
 color: #e2dfdf;
 margin-top: 2rem;
}
#descrição{
    display: flex;
    border-radius: 7px;
    margin-bottom: 2rem;
}
#desc-area h3{
    margin-top: 1rem;
    display: flex;
    color: #e1e2e2;
}

textarea {
    resize: none;
}


/*footer*/
footer {
    width: 100%;
    color: var(--botao-header);
    background-color: #684BBD;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    border-top: 10vh;
    border-color: aliceblue;
    background-color: var(--color-neutral-10);
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding: 3rem 3.5rem;
    grid-template-columns: repeat(4, 1fr);
}
.logo-rodape{
    width: 4rem;
    padding: 3rem 3.5rem;
}

.contato{
    padding: 0rem 3.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-left: 3rem;
    size: 4rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #98f57c;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #a6e768;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--roxo-primario);
    font-size: 0.9rem;
    padding: 0.4rem;
    font-weight: 100;
}

/*inicio reponsividade do footer*/
@media screen and (max-width: 968px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 826px) {
    #footer_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }
}
/*fim reponsividade do footer*/


@media(max-width:1680px){
    .info-cadastrar {
        gap: 10rem;
    }
    
    .info-cadastrar h1 {
        font-size: 30px;
    }
    
    .info-cadastrar img {
        max-width:80px;
        height:auto;
    }
}

@media(max-width:1380px){
    .info-cadastrar {
        gap: 8rem;
    }
    .sec-cadastrar{
        margin: 10% 18% 20% 18%;
    }
    
}

@media(max-width:1280px){
    .info-cadastrar {
        gap: 5rem;
    }
}

@media(max-width:1150px){
    .info-cadastrar h1 {
        font-size: 23px;
    }
    
    .info-cadastrar img {
        max-width:70px;
    }
    #input-date {
        width: 55%;
    }
}


@media(max-width:1004px){
    .sec-cadastrar {
        margin: 20% 8% 20% 8%;
    
    }

    .info-cadastrar {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    
    .info-cadastrar h1 {
        font-size: 30px;
    }
    
    .info-cadastrar img {
        max-width:90px;
        height:auto;
    }

    a.botao-cadastrar {
        margin-top: 3vh;
        padding: .3rem 1rem .3rem 1rem;
        background-color: var(--verde-primario);
        border-radius: 30px;
        color: var(--roxo-primario);
        font-family: 'Changa';
    }
    #input-date {
        width: 65%;
    }
    
}

@media(max-width:700px){
    .sec-cadastrar {
        margin: 25% 4% 20% 4%;  
    }
    
    .info-cadastrar h1 {
        font-size: 22px;
    }
    
    .info-cadastrar img {
        max-width:80px;
        height:auto;
    }
    #input-date {
        width: 75%;
    }
}

@media(max-width:550px){
    .sec-cadastrar {
        margin: 40% 1% 20% 1%;
    }
    
    .info-cadastrar h1 {
        font-size: 18px;
    }
    
    .info-cadastrar img {
        max-width:75px;
        height:auto;
    }

    a.botao-cadastrar {
        margin-top: 3vh;
        padding: .2rem 1rem .2rem 1rem;
        background-color: var(--verde-primario);
        border-radius: 20px;
        color: var(--roxo-primario);
        font-family: 'Changa';
    }
    #input-date {
        width: 85%;
    }
}

@media(max-width:550px){
    #input-num {
        width: 30%;
        display: flex;
        float: left;
        padding-left: 1rem;
        text-align: center;
    }

}




