@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Changa+One&family=Changa:wght@300;400;700&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@100;300;400;900&display=swap');
/*config geral*/
* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root {
    --body-color: #E4E9F7;
    --nav-color: #6100C2;
    --side-nav: #010718;
    --text-color: #fff;
    --search-bar: #f2f2f2;
    --search-text: #010718;
    --roxo-primario: #6100C2;
    --verde-primario: #00EB4E;
    --botao-header: #ffffff;
    --main-color: #6100C2;
    --text-color: #ffffff;
    --bg-color: #ffffff;
}


main{
    margin-top: 7rem;
}

.info-catalogo{
    margin: 0 10%;
}

.titulo-catalogo{
    display: flex;
    align-items: center;
    justify-content: left;
    
}

.desc-catalogo{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 2rem;
}

.breadcrumb{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 2rem 15%;

    
}

.breadcrumb-item{
    color: #000000;
    text-decoration: none;
}

.breadcrumb-item active{
    color: #6100C2  ;
}




/*Lista de Produtos*/
.section-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.shop{
    margin-top: 2rem;
}

/* Shop Content */
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,auto));
    gap: 1.5rem;
}

.product-box {
    position: relative;
    background: #f1f1f1;
    padding: 25px 15px 5px 15px;
    border-radius: 10px;
    border: 1px solid #c0c0c0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.product-box:hover{
    padding: 15px 20px 5px 20px;
    border: 1px solid #474747;
    transition: 0.4s;
}

.product-img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title{
    font-size: 1rem;
    margin-top: .8rem;
    margin-left: 1rem;
    font-weight: 300;
    color: #2c2c2c;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.price{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    align-items: center;
}

.add-cart{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--roxo-primario);
    color: var(--botao-header);
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    border:0px;
}

.botao-add-cart{
    display:flex;
    justify-content:center;
}

.add-cart:hover {
    background: hsl(273, 90%, 23%);
}
/*Fim Lista de Produtos*/

@media (max-width: 400px){
    .cart{
        width: 320px;
    }
}

@media (max-width: 360px){
    .cart{
        width: 280px;
    }
}


/*footer*/
footer {
    margin-top: 5rem;
    width: 100%;
    color: var(--botao-header);
    background-color: #684BBD;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    border-top: 10vh;
    border-color: aliceblue;
    background-color: var(--color-neutral-10);
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding: 3rem 3.5rem;
    grid-template-columns: repeat(4, 1fr);
}
.logo-rodape{
    width: 4rem;
    padding: 3rem 3.5rem;
}

.contato{
    padding: 0rem 3.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-left: 3rem;
    size: 4rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #98f57c;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #a6e768;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--roxo-primario);
    font-size: 0.9rem;
    padding: 0.4rem;
    font-weight: 100;
}

/*inicio reponsividade do footer*/
@media screen and (max-width: 968px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 826px) {
    #footer_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }
}
/*fim reponsividade do footer*/