@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Changa+One&family=Changa:wght@300;400;700&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@100;300;400;900&display=swap');

 

:root {
    --roxo-primario: #6100C2;
    --verde-primario: #00EB4E;
    --botao-header: #ffffff;
}

 

* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 

.primeiro-header {
    padding: 1% 5% 1% 5%;
   display: flex;
    justify-content: space-around;
    background-color: var(--roxo-primario);
}

 

.imagem-logo {
    width: 4rem;
}

 

#pesquisar {
    margin-top: 1rem;
    border: 1px solid var(--verde-primario);
    border-radius: 8px;
    width: 35rem;
    height: 2rem;
    position: relative
}

 

#lupa-pesquisar {
    position: absolute;
    margin: 1.5rem 0 0 -2rem;
    color: var(--roxo-primario);
}

 

.botoes-header {
    margin-top: 1.5rem;
    display: flex;
    gap: 2rem;
    color: var(--botao-header);
}

 

.login {
    color: var(--botao-header);
}

 

.botao-login {
    display: flex;
    gap: 0.8rem;
}

 

.botao-carrinho {
    display: flex;
    gap: 0.8rem;
}

 

.segundo-header {
    background-color: #3b0175;
}

 

.nav {
    display: flex;
    justify-content: center;
    padding: 7px 0;
    gap: 5%;
}

 

.nav-botao {
    color: var(--botao-header);
    font-size: 18px;
}

 

body {
    background-color: #17012e;
}

 

.sec-cadastrar {
    background-color: var(--roxo-primario);
    margin: 7% 33% 10% 33%;
    padding: 3rem 2rem 5rem 2rem;
    color: var(--cor-texto);
    text-align: center;
    border: 1px solid green;
    border-radius: 50px;
}

 

.info-cadastrar {
    display: flex;
    justify-content: space-around;
}

 

  .info-cadastrar h1 {
    margin-top: 3rem;
    color: var(--verde-primario);
    font-family: 'Changa One';
    font-weight: 500;
    font-size: 30px;
}

 

  .info-cadastrar img {
    margin-top: 2rem;
    width: 4rem;
    margin-bottom: 2rem;
}

 

.itens-cadastro {
    margin-bottom: 3rem;
}

 

.input {
    font-family: 'Changa';
    background-color: var(--roxo-primario);
    width: 100%;
    padding: 6px;
    color: rgb(255, 255, 255);
    border: 0;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: 0;
    font-size: 14px;
}

 

::-webkit-input-placeholder {
    color: #e2dfdf;
    font-family: 'Changa';
    font-weight: 100;
    padding-top: 50px;
}

 


.botao-cadastrar {
    margin-top: 2rem;
    padding: .5rem 1rem .5rem 1rem;
    background-color: var(--verde-primario);
    border-radius: 30px;
    color: var(--roxo-primario);
    font-family: 'Changa';
}
